certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
lru-cache @ https://github.com/josh/py-lru-cache/releases/download/v1.0.0/lru_cache-1.0.0-py3-none-any.whl
plexapi==4.15.15
requests==2.32.3
urllib3==2.2.2
