name: Lint

on: push

jobs:
  ruff:
    runs-on: ubuntu-latest

    env:
      RUFF_OUTPUT_FORMAT: github

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - uses: astral-sh/setup-uv@v3

      - name: Install ruff
        run: |
          uv pip install --system --constraint requirements.txt ruff

      - name: Ruff Formatter
        run: ruff format --diff .

      - name: Ruff Linter
        run: ruff check .

  mypy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - uses: astral-sh/setup-uv@v3

      - name: Install dependencies
        run: |
          uv pip install --system --requirement requirements.txt

      - name: mypy
        run: mypy .
