name: Lint

on: push

jobs:
  ruff:
    runs-on: ubuntu-slim

    env:
      RUFF_OUTPUT_FORMAT: github

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Ruff Formatter
        run: uv run ruff format --diff .

      - name: Ruff Linter
        run: uv run ruff check .

  mypy:
    runs-on: ubuntu-slim

    strategy:
      matrix:
        uv_resolution: ["highest", "lowest-direct"]

    env:
      UV_RESOLUTION: ${{ matrix.uv_resolution }}

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: mypy
        run: uv run mypy .
