name: Sync

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-slim
    concurrency: sync

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install dependencies
        run: uv sync

      - name: Load cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: .cache/cache.pickle
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Sync
        run: |
          uv run trakt-plex-sync
        env:
          PLEX_USERNAME: ${{ secrets.PLEX_USERNAME }}
          PLEX_PASSWORD: ${{ secrets.PLEX_PASSWORD }}
          PLEX_TOKEN: ${{ secrets.PLEX_TOKEN }}
          PLEX_SERVER: ${{ secrets.PLEX_SERVER }}
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_ACCESS_TOKEN: ${{ secrets.TRAKT_ACCESS_TOKEN }}
          CACHE_PATH: .cache/cache.pickle
