name: Sync

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-slim
    concurrency: sync

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Load cache
        uses: actions/cache@v4
        with:
          path: .cache/cache.pickle
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Sync
        run: |
          uv run trakt-plex-sync
        env:
          PLEX_USERNAME: ${{ secrets.PLEX_USERNAME }}
          PLEX_PASSWORD: ${{ secrets.PLEX_PASSWORD }}
          PLEX_TOKEN: ${{ secrets.PLEX_TOKEN }}
          PLEX_SERVER: ${{ secrets.PLEX_SERVER }}
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_ACCESS_TOKEN: ${{ secrets.TRAKT_ACCESS_TOKEN }}
          CACHE_PATH: .cache/cache.pickle
