name: Trakt

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  refresh:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Refresh Trakt token
        run: |
          curl --silent --fail \
              -X POST \
              -F "client_id=$TRAKT_CLIENT_ID" \
              -F "client_secret=$TRAKT_CLIENT_SECRET" \
              -F "refresh_token=$TRAKT_REFRESH_TOKEN" \
              -F "grant_type=refresh_token" \
            'https://api.trakt.tv/oauth/token' >token.json
        env:
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_CLIENT_SECRET: ${{ secrets.TRAKT_CLIENT_SECRET }}
          TRAKT_REFRESH_TOKEN: ${{ secrets.TRAKT_REFRESH_TOKEN }}

      - name: Update GitHub secrets
        run: |
          jq --raw-output '.access_token' token.json | gh secret set --repo "$GH_REPO" --app actions TRAKT_ACCESS_TOKEN
          jq --raw-output '.refresh_token' token.json | gh secret set --repo "$GH_REPO" --app actions TRAKT_REFRESH_TOKEN
        env:
          GH_REPO: ${{ github.repository }}
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
